* {
  font-family: 'Roboto', sans-serif;
}

.header {
  background-color: #03256c;
  color: white;
  height: 55px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.title {
  font-size: 24px;
  font-weight: bold;
}

/* .footer {
  background-color: #03256c;
  height: 55px;
  position: absolute;
  bottom: 50px;
} */

.page-header {
  margin-top: 35px;
  margin-left: 30px;
  margin-bottom: 50px;
  color: #03256c;
  font-size: 20px;
}

.result-ul {
  padding: 0;
}

.result-li {
  margin-bottom: 10px;
  display: flex;
  margin-left: 28px;
  border-bottom: 1px solid grey;
  margin-right: 28px;
  padding: 10px 0;
}

.tennis-ball {
  width: 50px;
  height: 50px;
  margin-right: 25px;
}

.result-name {
  font-size: 18px;
  font-weight: 500;
}

.result-city {
  margin-top: 10px;
  font-size: 16px;
}

.result-ntrp {
  display: flex;
  justify-content: right;
}
