* {
  font-family: 'Roboto', sans-serif;
}

.blue {
  background-color: #03256c;
}

.header {
  background-color: #03256c;
  color: white;
  height: 55px;
  display: flex;
  align-items: center;
  position: relative;
}

.title {
  font-size: 24px;
  font-weight: bold;
}

.page-header {
  margin-top: 35px;
  margin-left: 30px;
  margin-bottom: 50px;
  color: #03256c;
}

.links {
  text-align: right;
  flex-grow: 1;
}

.search-link {
  padding-right: 35px;
}

.search-link,
.chats-link {
  color: white;
  text-decoration: none;
  font-size: 20px;
}

.chats-link {
  padding-right: 30px;
}

.chats-link:hover {
  cursor: pointer;
}

.search-link:hover {
  cursor: pointer;
}

.search-icon {
  font-size: 0.5rem;
  position: fixed;
  right: 3.5em;
  color: white;
}

.search-icon:hover {
  cursor: pointer;
}

.result-ul {
  padding: 0;
}

.user-anchor {
  text-decoration: none;
  color: black;
}

.result-li {
  margin-bottom: 10px;
  display: flex;
  margin-left: 28px;
  border-bottom: 1px solid grey;
  margin-right: 28px;
  padding: 5px 0;
}

.result-li:hover {
  cursor: pointer;
}

.tennis-ball {
  width: 60px;
  height: 60px;
  margin-right: 20px;
}

.result-name {
  font-size: 18px;
  font-weight: 500;
}

.result-city {
  margin-top: 10px;
  font-size: 16px;
}

.result-ntrp {
  text-align: right;
  flex-grow: 1;
}

.ntrp-text {
  font-size: 16px;
  font-weight: 500;
}

.ntrp-level {
  text-align: end;
  margin-top: 10px;
}

/* .message-display {
  display: flex;
  flex-direction: row;
} */

.message {
  background-color: #0099fe;
  font-size: 20px;
  color: white;
  border-radius: 27px;
  margin-bottom: 20px;
  max-width: 150px;
  padding: 10px;
  word-break: break-word;
}

.message-input {
  color: white;
  height: 55px;
  width: 100%;
  position: fixed;
  bottom: 0;
  display: flex;
  align-items: center;
  margin-left: 35px;
}

.timestamp {
  padding-left: 270px;
  font-weight: lighter;
}

.text-input {
  background: #03256c;
  border: 0;
  color: white;
  font-size: 16px;
}

.text-input:focus {
  outline: none;
}

.text-input::placeholder {
  color: white;
  font-size: 16px;
  font-weight: lighter;
}

.button-send {
  background-color: #03256c;
  border: 0;
  color: white;
}

.button-send:hover {
  cursor: pointer;
}

.footer {
  background-color: #03256c;
  height: 55px;
  width: 100%;
  position: fixed;
  bottom: 0;
}
